*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    opacity: 0;
    transition: 2000ms opacity ease;
    opacity: 1;
}

.grid {
    display: grid;
    gap: 1rem;
}

.info-wrapper {
    grid-template-columns: 1fr 1fr;
}

.about-me {
    width: 400px;
    height: auto;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #432af4;
}

.blob {
    position: relative;
    width: 400px;
    aspect-ratio: 1 / 1;
}

.avatar {
    position: absolute;
    height: 200px;
    width: auto;
    object-fit: cover;
}

.avatar:hover {
    cursor: pointer;
}